<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
      --------------------------------------- 0.1/6.0 MB 3.6 MB/s eta 0:00:02
      --------------------------------------- 0.1/6.0 MB 3.6 MB/s eta 0:00:02
     - -------------------------------------- 0.2/6.0 MB 1.5 MB/s eta 0:00:04
     --- ------------------------------------ 0.5/6.0 MB 3.1 MB/s eta 0:00:02
     --- ------------------------------------ 0.5/6.0 MB 3.1 MB/s eta 0:00:02
     --- ------------------------------------ 0.6/6.0 MB 2.2 MB/s eta 0:00:03
     ----- ---------------------------------- 0.8/6.0 MB 2.4 MB/s eta 0:00:03
     ----- ---------------------------------- 0.8/6.0 MB 2.4 MB/s eta 0:00:03
     ----- ---------------------------------- 0.8/6.0 MB 2.0 MB/s eta 0:00:03
     ------ --------------------------------- 0.9/6.0 MB 2.0 MB/s eta 0:00:03
     ------ --------------------------------- 0.9/6.0 MB 2.0 MB/s eta 0:00:03
     ------ --------------------------------- 1.0/6.0 MB 1.8 MB/s eta 0:00:03
     ------- -------------------------------- 1.1/6.0 MB 1.8 MB/s eta 0:00:03
     ------- -------------------------------- 1.1/6.0 MB 1.8 MB/s eta 0:00:03
     ------- -------------------------------- 1.2/6.0 MB 1.6 MB/s eta 0:00:03
     -------- ------------------------------- 1.2/6.0 MB 1.6 MB/s eta 0:00:03
     -------- ------------------------------- 1.2/6.0 MB 1.6 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 1.5 MB/s eta 0:00:04
     --------- ------------------------------ 1.4/6.0 MB 1.5 MB/s eta 0:00:03
     --------- ------------------------------ 1.4/6.0 MB 1.5 MB/s eta 0:00:03
     --------- ------------------------------ 1.4/6.0 MB 1.5 MB/s eta 0:00:04
     ---------- ----------------------------- 1.5/6.0 MB 1.5 MB/s eta 0:00:04
     ---------- ----------------------------- 1.5/6.0 MB 1.5 MB/s eta 0:00:04
     ---------- ----------------------------- 1.6/6.0 MB 1.4 MB/s eta 0:00:04
     ---------- ----------------------------- 1.6/6.0 MB 1.4 MB/s eta 0:00:04
     ---------- ----------------------------- 1.6/6.0 MB 1.4 MB/s eta 0:00:04
     ----------- ---------------------------- 1.7/6.0 MB 1.3 MB/s eta 0:00:04
     ----------- ---------------------------- 1.7/6.0 MB 1.3 MB/s eta 0:00:04
     ----------- ---------------------------- 1.7/6.0 MB 1.3 MB/s eta 0:00:04
     ----------- ---------------------------- 1.8/6.0 MB 1.3 MB/s eta 0:00:04
     ------------ --------------------------- 1.8/6.0 MB 1.3 MB/s eta 0:00:04
     ------------ --------------------------- 1.8/6.0 MB 1.3 MB/s eta 0:00:04
     ------------ --------------------------- 1.9/6.0 MB 1.2 MB/s eta 0:00:04
     ------------ --------------------------- 1.9/6.0 MB 1.2 MB/s eta 0:00:04
     ------------ --------------------------- 1.9/6.0 MB 1.2 MB/s eta 0:00:04
     ------------- -------------------------- 2.0/6.0 MB 1.2 MB/s eta 0:00:04
     ------------- -------------------------- 2.0/6.0 MB 1.2 MB/s eta 0:00:04
     ------------- -------------------------- 2.0/6.0 MB 1.2 MB/s eta 0:00:04
     ------------- -------------------------- 2.1/6.0 MB 1.1 MB/s eta 0:00:04
     -------------- ------------------------- 2.1/6.0 MB 1.1 MB/s eta 0:00:04
     -------------- ------------------------- 2.1/6.0 MB 1.1 MB/s eta 0:00:04
     -------------- ------------------------- 2.2/6.0 MB 1.1 MB/s eta 0:00:04
     -------------- ------------------------- 2.2/6.0 MB 1.1 MB/s eta 0:00:04
     -------------- ------------------------- 2.2/6.0 MB 1.1 MB/s eta 0:00:04
     --------------- ------------------------ 2.2/6.0 MB 1.1 MB/s eta 0:00:04
     --------------- ------------------------ 2.3/6.0 MB 1.1 MB/s eta 0:00:04
     ---------------- ----------------------- 2.4/6.0 MB 1.1 MB/s eta 0:00:04
     ----------------- ---------------------- 2.5/6.0 MB 1.1 MB/s eta 0:00:04
     ----------------- ---------------------- 2.7/6.0 MB 1.2 MB/s eta 0:00:03
     ------------------ --------------------- 2.8/6.0 MB 1.2 MB/s eta 0:00:03
     ------------------- -------------------- 2.9/6.0 MB 1.2 MB/s eta 0:00:03
     -------------------- ------------------- 3.1/6.0 MB 1.3 MB/s eta 0:00:03
     --------------------- ------------------ 3.2/6.0 MB 1.3 MB/s eta 0:00:03
     ---------------------- ----------------- 3.4/6.0 MB 1.3 MB/s eta 0:00:02
     ----------------------- ---------------- 3.5/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------- -------------- 3.9/6.0 MB 1.4 MB/s eta 0:00:02
     --------------------------- ------------ 4.1/6.0 MB 1.5 MB/s eta 0:00:02
     ---------------------------- ----------- 4.2/6.0 MB 1.5 MB/s eta 0:00:02
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------- ---------- 4.5/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------------ --------- 4.5/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------------ --------- 4.5/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------------ --------- 4.5/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------------ --------- 4.6/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 1.4 MB/s eta 0:00:01
     -------------------------------- ------- 4.9/6.0 MB 1.4 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 1.4 MB/s eta 0:00:01
     ---------------------------------- ----- 5.2/6.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.4/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 1.5 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Installing collected packages: sqlalchemy
  Running setup.py install for sqlalchemy: started
  Running setup.py install for sqlalchemy: finished with status 'done'
Successfully installed sqlalchemy-1.3.9

  DEPRECATION: sqlalchemy is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\vinuk\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (8.9.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.20-cp311-cp311-win_amd64.whl (2.0 MB)
     ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
     --- ------------------------------------ 0.2/2.0 MB 3.7 MB/s eta 0:00:01
     --------------- ------------------------ 0.8/2.0 MB 8.5 MB/s eta 0:00:01
     ------------------------------------ --- 1.8/2.0 MB 13.1 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 13.1 MB/s eta 0:00:00
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------  41.0/41.2 kB ? eta -:--:--
     -------------------------------------- 41.2/41.2 kB 658.4 kB/s eta 0:00:00
Requirement already satisfied: six in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.5 kB ? eta -:--:--
     ------------------------------------- 192.5/192.5 kB 11.4 MB/s eta 0:00:00
Requirement already satisfied: backcall in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\vinuk\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed greenlet-2.0.2 ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.20 sqlparse-0.4.4

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\vinuk\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
%load_ext sql

In [6]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql select * from SPACEXTABLE limit 10;

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-09-29', '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 ('2013-03-12', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-06-01', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql select distinct Launch_Site from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%sql select * from SPACEXTABLE where Launch_Site like "CCA%" limit 5;

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "limit": syntax error
[SQL: select * from SPACEXTABLE where Launch_Site like CCA% limit 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%sql select sum(PAYLOAD_MASS__KG_) as "Total_Payload_mass" from SPACEXTABLE \
        where Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
%sql select Booster_Version, avg(PAYLOAD_MASS__KG_) as "Avg_Payload_mass" from SPACEXTABLE \
        where Booster_Version = 'F9 v1.1' group by Booster_Version;

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:
%sql select min(Date) from SPACEXTABLE where landing_outcome = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [24]:
%sql select booster_version, PAYLOAD_MASS__KG_, landing_outcome from SPACEXTABLE where landing_outcome = 'Success (drone ship)' \
        and PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [32]:
%sql select outcome, count(*) from \
        (select case when instr(mission_outcome, ' ') > 0 then substr(mission_outcome, 1, instr(mission_outcome, ' ')-1) \
        else mission_outcome end as outcome from SPACEXTABLE) group by outcome;

 * sqlite:///my_data1.db
Done.

[('Failure', 1), ('Success', 100)]

In [34]:
%sql select outcome, count(*) as count from (select case when instr(mission_outcome, ' ') > 0 then substr(mission_outcome, 1, instr(mission_outcome, ' ')-1) \
        else mission_outcome end as outcome from SPACEXTABLE) group by outcome;

 * sqlite:///my_data1.db
Done.

[('Failure', 1), ('Success', 100)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [38]:
%sql select distinct Booster_Version, PAYLOAD_MASS__KG_ from SPACEXTABLE \
    where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [43]:
%sql select substr(Date,6,2) as month, Booster_Version, Launch_Site, Landing_Outcome from SPACEXTABLE \
    where substr(Date,1,4)='2015' and landing_outcome = 'Failure (drone ship)';

 * sqlite:///my_data1.db
Done.

[('10', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [45]:
%sql select Landing_Outcome, count(*) as count from SPACEXTABLE where Date between '2010-06-04' and '2017-03-20' \
    group by Landing_Outcome order by count desc;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (ground pad)', 5),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1),
 ('Failure (parachute)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>